@model Dose.Models.PatientMedication

@{
    ViewData["Title"] = "CreatePatientMedication";
}

<h1>Add New Patient Medication</h1>

<h4>Patient Medication</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatePatientMedication">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MedicationId" class="control-label"></label>
                <input asp-for="MedicationId" class="form-control" />
                <span asp-validation-for="MedicationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dosage" class="control-label"></label>
                <input asp-for="Dosage" class="form-control" />
                <span asp-validation-for="Dosage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Frequency" class="control-label"></label>
                <input asp-for="Frequency" class="form-control" />
                <span asp-validation-for="Frequency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
